<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Castro - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <%- include('header')%>
        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>About Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- about-section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-column">
                        <div class="text-inner">
                            <h2>Simple <br /><span>&</span> Minimalistic</h2>
                            <h3>Secure Checkout</h3>
                            <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.</p>
                            <p>accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                            <a href="contact.html" class="theme-btn-one">Contact Us<i class="flaticon-right-1"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 image-column">
                        <figure class="image-box"><img src="assets/images/resource/about-1.jpg" alt=""></figure>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-column">
                        <div class="text-inner">
                            <div class="box">
                                <h4>Castro Overview</h4>
                                <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                            </div>
                            <div class="box">
                                <h4>Our Mission</h4>
                                <p>Excepteur sint occaecat cupidat non proident sunt in culpa qui officia deserunt mollit anim est laborum.accusan enim ipsam voluptam quia voluptas sit aspern odit aut.</p>
                                <p>Sed quia consequunturmagni dolores eos qui ratione voluptatem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->


        <!-- chooseus-section -->
        <section class="chooseus-section">
            <div class="outer-container clearfix">
                <div class="content-column">
                    <div class="inner-column">
                        <div class="content-box">
                            <div class="sec-title style-two">
                                <h2>Top Category</h2>
                                <p>There are some product that we featured for choose your best</p>
                                <span class="separator" style="background-image: url(assets/images/icons/separator-3.png);"></span>
                            </div>
                            <div class="inner-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="flaticon-truck"></i></div>
                                            <h3>Free Shipping</h3>
                                            <p>Free shipping on oder over $100</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="flaticon-24-7"></i></div>
                                            <h3>Support 24/7</h3>
                                            <p>Contact us 24 hours a day, 7 days a week</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInLeft animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="flaticon-credit-card"></i></div>
                                            <h3>Secure Payment</h3>
                                            <p>We ensure secure payment with PEV</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                                        <div class="single-item wow fadeInRight animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                            <div class="icon-box"><i class="flaticon-undo"></i></div>
                                            <h3>30 Days Return</h3>
                                            <p>Simply return it within 30 days for an exchange.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-column" style="background-image: url(assets/images/background/chooseus-bg-1.jpg);"></div>
            </div>
        </section>
        <!-- chooseus-section end -->


        <!-- team-section -->
        <section class="team-section centred">
            <div class="auto-container">
                <div class="sec-title">
                    <h2>Our Expert Team</h2>
                    <p>There are some product that we featured for choose your best</p>
                    <span class="separator" style="background-image: url(assets/images/icons/separator-1.png);"></span>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="assets/images/team/team-1.jpg" alt="">
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content">
                                    <h3><a href="about.html">Leanne Simpson</a></h3>
                                    <span class="designation">Photographer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="assets/images/team/team-2.jpg" alt="">
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content">
                                    <h3><a href="about.html">Ray Cooper</a></h3>
                                    <span class="designation">Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="assets/images/team/team-3.jpg" alt="">
                                    <ul class="social-links clearfix">
                                        <li><a href="about.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="about.html"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </figure>
                                <div class="lower-content">
                                    <h3><a href="about.html">Caroline Johnson</a></h3>
                                    <span class="designation">Artist</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-section end -->


        <!-- instagram-style-two -->
        <section class="instagram-style-two sec-pad">
            <div class="large-container">
                <div class="sec-title">
                    <h2>Follow Us On Instagram</h2>
                    <p>Excepteur sint occaecat cupidatat</p>
                    <span class="separator" style="background-image: url(assets/images/icons/separator-1.png);"></span>
                </div>
                <div class="instagram-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                    <figure class="image-box">
                        <img src="assets/images/resource/instagram-7.jpg" alt="">
                        <ul class="info-list clearfix">
                            <li><a href="index-2.html"><i class="flaticon-heart"></i>400</a></li>
                            <li><a href="index-2.html"><i class="flaticon-commentary"></i>300</a></li>
                        </ul>
                    </figure>
                    <figure class="image-box">
                        <img src="assets/images/resource/instagram-8.jpg" alt="">
                        <ul class="info-list clearfix">
                            <li><a href="index-2.html"><i class="flaticon-heart"></i>450</a></li>
                            <li><a href="index-2.html"><i class="flaticon-commentary"></i>100</a></li>
                        </ul>
                    </figure>
                    <figure class="image-box">
                        <img src="assets/images/resource/instagram-9.jpg" alt="">
                        <ul class="info-list clearfix">
                            <li><a href="index-2.html"><i class="flaticon-heart"></i>330</a></li>
                            <li><a href="index-2.html"><i class="flaticon-commentary"></i>300</a></li>
                        </ul>
                    </figure>
                    <figure class="image-box">
                        <img src="assets/images/resource/instagram-10.jpg" alt="">
                        <ul class="info-list clearfix">
                            <li><a href="index-2.html"><i class="flaticon-heart"></i>250</a></li>
                            <li><a href="index-2.html"><i class="flaticon-commentary"></i>320</a></li>
                        </ul>
                    </figure>
                </div>
            </div>
        </section>
        <!-- instagram-style-two -->

        <%- include('footer')%>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
</body><!-- End of .page_wrapper -->
</html>
