<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Castro - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/jquery-ui.css" rel="stylesheet">
<link href="/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <%- include('header')%>
            
        

        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Blog Page 2</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>Blog Page 2</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- news-section -->
        <section class="blog-page-section sidebar-page-container blog-page-2 sec-pad-2">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                        <div class="blog-content">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-13.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 09, 2020</span>
                                                <h2><a href="blog-details.html">The biebers just switched up their couple style.</a></h2>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">08 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris nisi aliquip ex commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-7.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 08, 2020</span>
                                                <h3><a href="blog-details.html">City of london wants to have it’s brexit cake.</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">08 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-8.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 07, 2020</span>
                                                <h3><a href="blog-details.html">On the other hand we provide with righteous.</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">07 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-9.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 06, 2020</span>
                                                <h3><a href="blog-details.html">The spectacle before us was indeed sublime.</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">05 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-10.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 05, 2020</span>
                                                <h3><a href="blog-details.html">Why is a ticket to lagos so expensive?</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">03 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-11.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 04, 2020</span>
                                                <h3><a href="blog-details.html">But i must explain to you how all this mistaken idea.</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">07 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                        <div class="inner-box">
                                            <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-12.jpg" alt=""></a></figure>
                                            <div class="lower-content">
                                                <span class="post-date">May 03, 2020</span>
                                                <h3><a href="blog-details.html">The Biebers Just Switched Up Their Couple Style</a></h3>
                                                <ul class="post-info clearfix">
                                                    <li><a href="index.html">by admin</a></li>
                                                    <li><a href="index.html">05 Comments</a></li>
                                                </ul>
                                                <p>Tempor incididunt labore dolore magna aliqua. enim minim veniam quis nostrud exercitation laboris.</p>
                                                <div class="link"><a href="blog-details.html">Read More<i class="flaticon-right-1"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pagination-wrapper">
                                <ul class="pagination clearfix">
                                    <li><a href="shop.html">Prev</a></li>
                                    <li><a href="shop.html">1</a></li>
                                    <li><a href="shop.html" class="active">2</a></li>
                                    <li><a href="shop.html">3</a></li>
                                    <li><a href="shop.html">4</a></li>
                                    <li><a href="shop.html">5</a></li>
                                    <li><a href="shop.html">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                        <div class="sidebar blog-sidebar">
                            <div class="sidebar-widget search-widget">
                                <div class="widget-title">
                                    <h3>Search</h3>
                                </div>
                                <div class="widget-content">
                                    <form action="index.html" method="post" class="search-form">
                                        <div class="form-group">
                                            <input type="search" name="search-field" placeholder="Search..." required="">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget categories-widget">
                                <div class="widget-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="categories-list clearfix">
                                        <li><a href="product-details.html">Women’s Clothing (9)</a></li>
                                        <li><a href="product-details.html">Man Fashion (1)</a></li>
                                        <li><a href="product-details.html">Kid’s Clothing (5)</a></li>
                                        <li><a href="product-details.html">Jewelry &amp; Watches (3)</a></li>
                                        <li><a href="product-details.html">Bags &amp; Shoes (7)</a></li>
                                        <li><a href="product-details.html">Toys &amp; Kids (2)</a></li>
                                        <li><a href="product-details.html">Electronics (6)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget post-widget">
                                <div class="widget-title">
                                    <h3>Popular Posts</h3>
                                </div>
                                <div class="post-inner">
                                    <div class="post">
                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-1.jpg" alt=""></a></figure>
                                        <h4><a href="blog-details.html">Problem with typefaces on the web.</a></h4>
                                        <span class="post-date">June 06, 2020</span>
                                    </div>
                                    <div class="post">
                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-2.jpg" alt=""></a></figure>
                                        <h4><a href="blog-details.html">Why is a ticket to lagos so expensive?</a></h4>
                                        <span class="post-date">June 05, 2020</span>
                                    </div>
                                    <div class="post">
                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-3.jpg" alt=""></a></figure>
                                        <h4><a href="blog-details.html">The biebers just up their couple style.</a></h4>
                                        <span class="post-date">June 04, 2020</span>
                                    </div>
                                    <div class="post">
                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-4.jpg" alt=""></a></figure>
                                        <h4><a href="blog-details.html">Anna wintour shares her milan fashion.</a></h4>
                                        <span class="post-date">June 03, 2020</span>
                                    </div>
                                    <div class="post">
                                        <figure class="post-thumb"><a href="blog-details.html"><img src="assets/images/news/post-5.jpg" alt=""></a></figure>
                                        <h4><a href="blog-details.html">Problem with typefaces on the web.</a></h4>
                                        <span class="post-date">June 02, 2020</span>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-widget archives-widget">
                                <div class="widget-title">
                                    <h3>Archives</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="archives-list clearfix">
                                        <li><a href="blog-2.html">April 2020</a></li>
                                        <li><a href="blog-2.html">May 2019</a></li>
                                        <li><a href="blog-2.html">June 2018</a></li>
                                        <li><a href="blog-2.html">July 2017</a></li>
                                        <li><a href="blog-2.html">Augost 2016</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget instagram-widget">
                                <div class="widget-title">
                                    <h3>Instagram</h3>
                                </div>
                                <div class="widget-content">
                                    <ul class="image-list clearfix">
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-1.jpg" alt="">
                                                <a href="/assets/images/news/instagram-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-2.jpg" alt="">
                                                <a href="/assets/images/news/instagram-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-3.jpg" alt="">
                                                <a href="/assets/images/news/instagram-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-4.jpg" alt="">
                                                <a href="/assets/images/news/instagram-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-5.jpg" alt="">
                                                <a href="/assets/images/news/instagram-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                        <li>
                                            <figure class="image-box">
                                                <img src="assets/images/news/instagram-6.jpg" alt="">
                                                <a href="/assets/images/news/instagram-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-plus-1"></i></a>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- news-section end -->


        <%- include('footer')%>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.bootstrap-touchspin.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
</body><!-- End of .page_wrapper -->
</html>
