<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <h2>Hello </h2>
  <a href={{link}}>meehh.com</a>

  <br><br>
  <h4>{{link}}</h4>
</body>
</html>