<!-- main-footer -->
<footer class="main-footer light">
  <div class="footer-top">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12 big-column">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
              <div class="footer-widget logo-widget">
                <figure class="footer-logo">
                  <a href="/"
                    ><img src="/assets/images/footer-logo-2.png" alt=""
                  /></a>
                </figure>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
              <div class="footer-widget links-widget">
                <div class="widget-title">
                  <h3>Category</h3>
                </div>
                <div class="widget-content">
                  <ul class="links-list clearfix">
                    <li>
                      <a href="/products?category=bookmarks">Bookmarks</a>
                    </li>
                    <li>
                      <a href="/products?category=pop-grippers">Pop Grippers</a>
                    </li>
                    <li>
                      <a href="/products?category=tote-bags">Tote Bags</a>
                    </li>
                    <li><a href="/products?category=badges">Badges</a></li>
                    <li><a href="/products?category=diaries">Diaries</a></li>
                    <li>
                      <a href="/products?category=mousepads">Mousepads</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 footer-column">
              <div class="footer-widget links-widget">
                <div class="widget-title">
                  <h3>Useful Link</h3>
                </div>
                <div class="widget-content">
                  <ul class="links-list clearfix">
                    <li><a href="/about">About Us</a></li>
                    <li>
                      <a href="/terms-and-conditions">Terms & Conditions</a>
                    </li>
                    <li><a href="/products">Our Shop</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 big-column">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
              <div class="footer-widget contact-widget">
                <div class="widget-title">
                  <h3>Contact</h3>
                </div>
                <ul class="info-list clearfix">
                  <li>
                    <i class="flaticon-maps-and-flags"></i>4708 Ruecker Wall,
                    Kassandratown, HI
                  </li>
                  <li>
                    <i class="flaticon-phone-ringing"></i
                    ><a href="tel:23055873407">+2(305) 587-3407</a>
                  </li>
                  <li>
                    <i class="flaticon-email"></i
                    ><a href="mailto:info@example.com">info@example.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
              <div class="footer-widget newsletter-widget">
                <div class="widget-title">
                  <h3>Newsletter</h3>
                </div>
                <div class="widget-content">
                  <form
                    action="contact.html"
                    method="post"
                    class="newsletter-form"
                  >
                    <div class="form-group">
                      <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        required=""
                      />
                      <button type="submit" class="theme-btn-three">
                        Subscribe
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="auto-container clearfix">
      <div class="copyright pull-right">
        <ul class="footer-social clearfix">
          <li>
            <a href="/"><i class="fab fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="/"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a href="/"><i class="fab fa-vimeo-v"></i></a>
          </li>
          <li>
            <a href="/"><i class="fab fa-google-plus-g"></i></a>
          </li>
        </ul>
        <p><a href="/">Meehh.com</a> &copy; 2022 All Right Reserved</p>
      </div>
    </div>
  </div>
</footer>
<!-- main-footer end -->

<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
  <i class="fas fa-long-arrow-alt-up"></i>
</button>
