<!DOCTYPE html>

<form method="post" action="/imageUpload" enctype="multipart/form-data">
    <input type="file" name="photo" id="photo"><br>
    <!-- <input type="file" name="photo2" id="photo"><br> -->
    <input type="submit" name="upload" text="upload">
</form>

</html>