<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Castro - HTML 5 Template Preview</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/owl.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/color.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
  </head>

  <!-- page wrapper -->
  <body>
    
      <%- include('header')%>

      <!-- banner-section -->
      <section class="banner-style-one">
        <div
          class="pattern-layer"
          style="background-image: url(assets/images/shape/shape-1.png)"
        ></div>
        <div class="banner-carousel owl-theme owl-carousel">
          <div class="slide-item">
            <div class="auto-container">
              <div class="content-inner">
                <div class="content-box">
                  <h1>Up To <br /><span>50%</span> Discount</h1>
                  <h3>Summer Lookbook - 2020</h3>
                  <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                  <div class="btn-box">
                    <a href="index.html" class="theme-btn-one"
                      >Explore Now<i class="flaticon-right-1"></i
                    ></a>
                  </div>
                </div>
                <figure class="image-box image-1">
                  <img src="assets/images/banner/banner-image-1.png" alt="" />
                </figure>
              </div>
            </div>
          </div>
          <div class="slide-item">
            <div class="auto-container">
              <div class="content-inner">
                <div class="content-box">
                  <h1>Up To <br /><span>50%</span> Discount</h1>
                  <h3>Summer Lookbook - 2020</h3>
                  <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                  <div class="btn-box">
                    <a href="index.html" class="theme-btn-one"
                      >Explore Now<i class="flaticon-right-1"></i
                    ></a>
                  </div>
                </div>
                <figure class="image-box image-2">
                  <img src="assets/images/banner/banner-image-2.png" alt="" />
                </figure>
              </div>
            </div>
          </div>
          <div class="slide-item">
            <div class="auto-container">
              <div class="content-inner">
                <div class="content-box">
                  <h1>Up To <br /><span>50%</span> Discount</h1>
                  <h3>Summer Lookbook - 2020</h3>
                  <p>New Modern Stylist Fashionable Men's Wear Jeans Shirt.</p>
                  <div class="btn-box">
                    <a href="index.html" class="theme-btn-one"
                      >Explore Now<i class="flaticon-right-1"></i
                    ></a>
                  </div>
                </div>
                <figure class="image-box imgae-3">
                  <img src="assets/images/banner/banner-image-3.png" alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner-section end -->

      <!-- topcategory-section -->
      <section class="topcategory-section centred">
        <div class="auto-container">
          <div class="sec-title">
            <h2>Top Category</h2>
            <p>
              Follow the most popular trends and get exclusive items from castro
              shop
            </p>
            <span
              class="separator"
              style="background-image: url(assets/images/icons/separator-1.png)"
            ></span>
          </div>
          <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 category-block">
              <div
                class="category-block-one wow fadeInUp animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <figure class="image-box">
                  <img src="assets/images/resource/category-1.png" alt="" />
                </figure>
                <h5><a href="index.html">Women Collections</a></h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 category-block">
              <div
                class="category-block-one wow fadeInUp animated animated"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <figure class="image-box">
                  <img src="assets/images/resource/category-2.png" alt="" />
                </figure>
                <h5><a href="index.html">Kids Collections</a></h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 category-block">
              <div
                class="category-block-one wow fadeInUp animated animated"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <figure class="image-box">
                  <img src="assets/images/resource/category-3.png" alt="" />
                </figure>
                <h5><a href="index.html">Summer Collections</a></h5>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 category-block">
              <div
                class="category-block-one wow fadeInUp animated animated"
                data-wow-delay="600ms"
                data-wow-duration="1500ms"
              >
                <figure class="image-box">
                  <img src="assets/images/resource/category-4.png" alt="" />
                </figure>
                <h5><a href="index.html">Gents Collections</a></h5>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- topcategory-section end -->

      <!-- shop-section -->
      <section class="shop-section">
        <div class="auto-container">
          <div class="sec-title">
            <h2>Our Top Collection</h2>
            <p>There are some product that we featured for choose your best</p>
            <span
              class="separator"
              style="background-image: url(assets/images/icons/separator-1.png)"
            ></span>
          </div>
          <div class="sortable-masonry">
            <div class="filters">
              <ul class="filter-tabs filter-btns centred clearfix">
                <li
                  class="active filter"
                  data-role="button"
                  data-filter=".best_seller"
                >
                  Best Seller
                </li>
                <li
                  class="filter"
                  data-role="button"
                  data-filter=".new_arraivals"
                >
                  New Arraivals
                </li>
                <li class="filter" data-role="button" data-filter=".top_rate">
                  Top Rate
                </li>
              </ul>
            </div>
            <div class="items-container row clearfix">
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals top_rate"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-1.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-1.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Cold Crewneck Sweater</a>
                      <span class="price">$70.30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-2.jpg"
                        alt=""
                      />
                      <span class="category green-bg">New</span>
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-2.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html"
                        >Multi-Way Ultra Crop Top</a
                      >
                      <span class="price">$50.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller top_rate"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-3.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-3.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Side-Tie Tank</a>
                      <span class="price">$40.00</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-4.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-4.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Cold Crewneck Sweater</a>
                      <span class="price">$60.30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller top_rate"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-5.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-5.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Side-Tie Tank</a>
                      <span class="price">$35.30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-6.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-6.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Must-Have Easy Tank</a>
                      <span class="price">$25.30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals top_rate"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-7.jpg"
                        alt=""
                      />
                      <span class="category red-bg">Hot</span>
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-7.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Woven Crop Cami</a>
                      <span class="price">$90.30</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-lg-3 col-md-6 col-sm-12 shop-block masonry-item small-column best_seller new_arraivals"
              >
                <div class="shop-block-one">
                  <div class="inner-box">
                    <figure class="image-box">
                      <img
                        src="assets/images/resource/shop/shop-8.jpg"
                        alt=""
                      />
                      <ul class="info-list clearfix">
                        <li>
                          <a href="index.html"
                            ><i class="flaticon-heart"></i
                          ></a>
                        </li>
                        <li><a href="product-details.html">Add to cart</a></li>
                        <li>
                          <a
                            href="assets/images/resource/shop/shop-8.jpg"
                            class="lightbox-image"
                            data-fancybox="gallery"
                            ><i class="flaticon-search"></i
                          ></a>
                        </li>
                      </ul>
                    </figure>
                    <div class="lower-content">
                      <a href="product-details.html">Must-Have Easy Tank</a>
                      <span class="price">$20.30</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="more-btn centred">
            <a href="shop.html" class="theme-btn-one"
              >View All Products<i class="flaticon-right-1"></i
            ></a>
          </div>
        </div>
      </section>
      <!-- shop-section end -->

      <!-- cta-section -->
      <section class="cta-section">
        <div
          class="image-layer"
          style="background-image: url(assets/images/background/cta-bg-1.jpg)"
        ></div>
        <div class="auto-container">
          <div class="cta-inner centred">
            <div class="pattern-layer">
              <div
                class="pattern-1"
                style="background-image: url(assets/images/shape/shape-2.png)"
              ></div>
              <div
                class="pattern-2"
                style="background-image: url(assets/images/shape/shape-3.png)"
              ></div>
            </div>
            <h2>End of Season Clearance Sale upto 50%</h2>
            <p>
              Welcome to the new range of shaving products from master barber.
              We have over three decades of experience in the male grooming
              industry
            </p>
            <a href="shop.html" class="theme-btn-one"
              >Shop Now<i class="flaticon-right-1"></i
            ></a>
          </div>
        </div>
      </section>
      <!-- cta-section end -->

      <!-- news-section -->
      <section class="news-section">
        <div class="auto-container">
          <div class="sec-title">
            <h2>Castro News</h2>
            <p>Excepteur sint occaecat cupidatat non proident sunt</p>
            <span
              class="separator"
              style="background-image: url(assets/images/icons/separator-1.png)"
            ></span>
          </div>
          <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
              <div
                class="news-block-one wow fadeInUp animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <figure class="image-box">
                    <a href="blog-details.html"
                      ><img src="assets/images/news/news-1.jpg" alt=""
                    /></a>
                  </figure>
                  <div class="lower-content">
                    <span class="post-date">May 05, 2020</span>
                    <h3>
                      <a href="blog-details.html"
                        >Why is a ticket to lagos so expensive?</a
                      >
                    </h3>
                    <ul class="post-info clearfix">
                      <li><a href="index.html">by admin</a></li>
                      <li><a href="index.html">03 Comments</a></li>
                    </ul>
                    <p>
                      Tempor incididunt labore dolore magna aliqua. enim minim
                      veniam quis nostrud exercitation laboris.
                    </p>
                    <div class="link">
                      <a href="blog-details.html"
                        >Read More<i class="flaticon-right-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
              <div
                class="news-block-one wow fadeInUp animated animated"
                data-wow-delay="300ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <figure class="image-box">
                    <a href="blog-details.html"
                      ><img src="assets/images/news/news-2.jpg" alt=""
                    /></a>
                  </figure>
                  <div class="lower-content">
                    <span class="post-date">May 04, 2020</span>
                    <h3>
                      <a href="blog-details.html"
                        >But i must explain to you how all this mistaken
                        idea.</a
                      >
                    </h3>
                    <ul class="post-info clearfix">
                      <li><a href="index.html">by admin</a></li>
                      <li><a href="index.html">07 Comments</a></li>
                    </ul>
                    <p>
                      Tempor incididunt labore dolore magna aliqua. enim minim
                      veniam quis nostrud exercitation laboris.
                    </p>
                    <div class="link">
                      <a href="blog-details.html"
                        >Read More<i class="flaticon-right-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
              <div
                class="news-block-one wow fadeInUp animated animated"
                data-wow-delay="600ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <figure class="image-box">
                    <a href="blog-details.html"
                      ><img src="assets/images/news/news-3.jpg" alt=""
                    /></a>
                  </figure>
                  <div class="lower-content">
                    <span class="post-date">May 03, 2020</span>
                    <h3>
                      <a href="blog-details.html"
                        >The Biebers Just Switched Up Their Couple Style</a
                      >
                    </h3>
                    <ul class="post-info clearfix">
                      <li><a href="index.html">by admin</a></li>
                      <li><a href="index.html">05 Comments</a></li>
                    </ul>
                    <p>
                      Tempor incididunt labore dolore magna aliqua. enim minim
                      veniam quis nostrud exercitation laboris.
                    </p>
                    <div class="link">
                      <a href="blog-details.html"
                        >Read More<i class="flaticon-right-1"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- news-section end -->

      <!-- service-section -->
      <section class="service-section">
        <div class="auto-container">
          <div class="inner-container">
            <div class="row clearfix">
              <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><i class="flaticon-truck"></i></div>
                    <h3><a href="index.html">Free Shipping</a></h3>
                    <p>Free shipping on oder over $100</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one">
                  <div class="inner-box">
                    <div class="icon-box">
                      <i class="flaticon-credit-card"></i>
                    </div>
                    <h3><a href="index.html">Secure Payment</a></h3>
                    <p>We ensure secure payment with PEV</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><i class="flaticon-24-7"></i></div>
                    <h3><a href="index.html">Support 24/7</a></h3>
                    <p>Contact us 24 hours a day, 7 days a week</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one">
                  <div class="inner-box">
                    <div class="icon-box"><i class="flaticon-undo"></i></div>
                    <h3><a href="index.html">30 Days Return</a></h3>
                    <p>Simply return it within 30 days for an exchange.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- service-section end -->

      <!-- instagram-section -->
      <section class="instagram-section">
        <div class="outer-container">
          <div class="sec-title">
            <h2>Follow Us On Instagram</h2>
            <p>Excepteur sint occaecat cupidatat</p>
            <span
              class="separator"
              style="background-image: url(assets/images/icons/separator-1.png)"
            ></span>
          </div>
          <div
            class="six-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none"
          >
            <figure class="image-box">
              <img src="assets/images/resource/instagram-1.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
            <figure class="image-box">
              <img src="assets/images/resource/instagram-2.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
            <figure class="image-box">
              <img src="assets/images/resource/instagram-3.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
            <figure class="image-box">
              <img src="assets/images/resource/instagram-4.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
            <figure class="image-box">
              <img src="assets/images/resource/instagram-5.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
            <figure class="image-box">
              <img src="assets/images/resource/instagram-6.jpg" alt="" />
              <ul class="info-list clearfix">
                <li>
                  <a href="index-2.html"><i class="flaticon-heart"></i>450</a>
                </li>
                <li>
                  <a href="index-2.html"
                    ><i class="flaticon-commentary"></i>320</a
                  >
                </li>
              </ul>
            </figure>
          </div>
        </div>
      </section>
      <!-- instagram-section end -->

      <%- include('footer')%>
    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
  </body>
  <!-- End of .page_wrapper -->
</html>
