<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meehh.com</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <style>
      body {
        overflow: hidden;
      }
      * {
        padding: 0;
        margin: 0;
      }
      img {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <img src="/assets/images/maintenance.jpg" alt="Coming Soon" />
    <script>
      const img = document.querySelector("img");
      const setImg = () => {
        if (window.innerWidth < 540)
          img.src = "/assets/images/maintenance-mobile.jpg";
        else img.src = "/assets/images/maintenance.jpg";
      };
      document.onload = setImg();
      window.addEventListener("resize", setImg);
    </script>
  </body>
</html>
