<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Meehh.com</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="/assets/css/font-awesome-all.css" rel="stylesheet" />
    <link href="/assets/css/flaticon.css" rel="stylesheet" />
    <link href="/assets/css/owl.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/color.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
  </head>

  <!-- page wrapper -->
  <body>
    <div class="boxed_wrapper">
          <!-- Preloader -->
          <div class="loader-wrap">
              <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
              <div class="layer layer-one"><span class="overlay"></span></div>
              <div class="layer layer-two"><span class="overlay"></span></div>        
              <div class="layer layer-three"><span class="overlay"></span></div>        
          </div>


          <!-- search-popup -->
          <!-- <div id="search-popup" class="search-popup">
              <div class="close-search"><i class="flaticon-close"></i></div>
              <div class="popup-inner">
                  <div class="overlay-layer"></div>
                  <div class="search-form">
                      <form method="post" action="/">
                          <div class="form-group">
                              <fieldset>
                                  <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                                  <input type="submit" value="Search Now!" class="theme-btn style-four">
                              </fieldset>
                          </div>
                      </form>
                      <h3>Recent Search Keywords</h3>
                      <ul class="recent-searches">
                          <li><a href="/">Finance</a></li>
                          <li><a href="/">Idea</a></li>
                          <li><a href="/">Service</a></li>
                          <li><a href="/">Growth</a></li>
                          <li><a href="/">Plan</a></li>
                      </ul>
                  </div>
              </div>
          </div> -->
          <!-- search-popup end -->


          <!-- main header -->
          <header class="main-header">
              
              <div class="header-lower">
                  <div class="auto-container">
                      <div class="outer-box">
                          <figure class="logo-box"><a href="/"><img src="/assets/images/header-logo.png" alt=""></a></figure>
                          <div class="menu-area">
                              <!--Mobile Navigation Toggler-->
                              <div class="mobile-nav-toggler">
                                  <i class="icon-bar"></i>
                                  <i class="icon-bar"></i>
                                  <i class="icon-bar"></i>
                              </div>
                              <nav class="main-menu navbar-expand-md navbar-light">
                                  <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                      <ul class="navigation clearfix">
                                          <li class="current">
                                            <a href="/">Home</a>
                                          </li>
                                          <li class="dropdown"><a href="/products">Shop<span>Hot</span></a>
                                              <ul>
                                              <li><a href="/products?category=bookmark">Bookmarks</a></li>
                                              <li><a href="/products?category=pop gripper">Pop Grippers</a></li>
                                              <li><a href="/products?category=tote bag">Tote Bags</a></li>
                                              <li><a href="/products?category=badge">Badges</a></li>
                                              <li><a href="/products?category=a5 dairy">Diaries</a></li>
                                              <li><a href="/products?category=mousepad">Mousepads</a></li>
                                            </ul>
                                          </li>
                                          <!-- <li><a href="/about">About</a></li>     -->
                                          <!-- <li><a href="/blogs">Blog</a></li>  -->
                                          <li><a href="/contact">Contact</a></li>               
                                      </ul>
                                  </div>
                              </nav>
                          </div>
                          <ul class="menu-right-content clearfix">
                              <li>
                                  <div class="search-btn">
                                      <button type="button" class="search-toggler"><i class="flaticon-search"></i></button>
                                  </div>
                              </li>
                              <li><a href="/wishlist"><i class="flaticon-like"></i></a></li>
                              <li class="dropdown"><a><i class="flaticon-user"></i></a>
                                <ul>
                                  <% if(userLoggedIn) { %>
                                  <li><a href="/profile">Profile</a></li>
                                  <li><a href="/orders">Your orders</a></li>
                                  <li><a href="/logout">Logout</a></li>
                                  <% } else { %> 
                                  <li><a href="/login">Log In</a></li>
                                  <li><a href="/register">Sign Up</a></li>
                                  <% } %>
                              </ul></li>
                              <li class="shop-cart">
                                  <a href="/cart"><i class="flaticon-shopping-cart-1"></i><span><%=cartLength%></span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <!--sticky Header-->
              <div class="sticky-header">
                  <div class="auto-container">
                      <div class="outer-box clearfix">
                          <div class="logo-box pull-left">
                              <figure class="logo"><a href="/"><img src="/assets/images/small-logo.png" alt=""></a></figure>
                          </div>
                          <div class="menu-area pull-right">
                              <nav class="main-menu clearfix">
                                  <!--Keep This Empty / Menu will come through Javascript-->
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
          <!-- main-header end -->

          <!-- Mobile Menu  -->
          <div class="mobile-menu">
              <div class="menu-backdrop"></div>
              <div class="close-btn"><i class="fas fa-times"></i></div>
              <nav class="menu-box">
                  <div class="nav-logo"><a href="/"><img src="/assets/images/logo-2.png" alt="" title=""></a></div>
                  <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                  <div class="contact-info">
                      <h4>Contact Info</h4>
                      <ul>
                          <li>Chicago 12, Melborne City, USA</li>
                          <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                          <li><a href="mailto:info@example.com">info@example.com</a></li>
                      </ul>
                  </div>
                  <div class="social-links">
                      <ul class="clearfix">
                          <li><a href="/"><span class="fab fa-twitter"></span></a></li>
                          <li><a href="/"><span class="fab fa-facebook-square"></span></a></li>
                          <li><a href="/"><span class="fab fa-pinterest-p"></span></a></li>
                          <li><a href="/"><span class="fab fa-instagram"></span></a></li>
                          <li><a href="/"><span class="fab fa-youtube"></span></a></li>
                      </ul>
                  </div>
              </nav>
          </div><!-- End Mobile Menu -->
          
      <!-- page-title -->
      <section class="page-title centred">
        <div
          class="pattern-layer"
          style="
            background-image: url(/assets/images/background/page-title.jpg);
          "
        ></div>
        <div class="auto-container">
          <div class="content-box">
            <h1>Page Not Found</h1>
            <ul class="bread-crumb clearfix">
              <li>
                <i class="flaticon-home-1"></i><a href="/">Home</a>
              </li>
              <li>404</li>
            </ul>
          </div>
        </div>
      </section>
      <!-- page-title end -->

      <!-- error-section -->
      <section class="error-section centred sec-pad">
        <div class="auto-container">
          <div class="inner-box">
            <h1>404</h1>
            <h2>Oops! Page Not Found!</h2>
            <p>Please go back to <a href="/">Back homepage</a></p>
            <div class="btn-box">
              <a href="/" class="theme-btn-two"
                >Go Back To Home<i class="flaticon-right-1"></i
              ></a>
              <a href="shop.html" class="theme-btn-one"
                >Continue Shopping<i class="flaticon-right-1"></i
              ></a>
            </div>
          </div>
        </div>
      </section>
      <!-- error-section end -->

      <%- include('footer')%>

    <!-- jequery plugins -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/jquery.fancybox.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/scrollbar.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/isotope.js"></script>

    <!-- main-js -->
    <script src="/assets/js/script.js"></script>
  </body>
  <!-- End of .page_wrapper -->
</html>
