<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Recover Password</title>

  <style>
    .email-container {
      font-family: Helvetica, sans-serif;
      color: #6a6a6a;
      max-width: 550px;
      padding: 1.5rem .8rem;
      border: 1px solid #dadada;
    }

    div.logo {
      width: inherit;
      padding: 1rem;
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #dadada;
    }
    .title {
      color: #3f3f3f;
      font-size: 1.2rem;
      font-weight: 500;
    }
    .sub-title {
      font-size: .85rem;
      margin-right: 1rem;
    }
    button {
      color: #efefef;
      background-color: ;
      padding: .5rem 1.2rem;
      text-transform: uppercase;
    }
  button a {
    color: inherit;
    text-transform: none;
  }
  </style>
</head>
<body>
  <div class="email-container" style="font-family: Helvetica, sans serif; color: #6a6a6a; max-width: 550px; padding: 20px 12px; border: 1px solid #dadada">
    <div class="logo" style="width: inherit; padding: 10px 0; display: flex; justify-content: center; border-bottom: 1px solid #dadada;">
      <img src="cid:logo" alt="Meehh.com Logo" style="width: 150px">
    </div>
    <h4 class="title" style="color: #3f3f3f; font-size: 18px; font-weight: 500;">Hello, {{name}}</h4>
    <p class="sub-title" style="font-size: 14px; margin-right: 1rem;">
      <h5>Congratulations!</h5><br>
      Your order of amount {{amount}} has been placed successfully!.
    </p>
    
  </div>
</body>
</html>