<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Castro - HTML 5 Template Preview</title>

    <!-- Fav Icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="assets/css/font-awesome-all.css" rel="stylesheet" />
    <link href="assets/css/flaticon.css" rel="stylesheet" />
    <link href="assets/css/owl.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="assets/css/nice-select.css" rel="stylesheet" />
    <link href="assets/css/color.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />
  </head>

  <!-- page wrapper -->
  <body>
    <%- include('header') %>
    <!-- page-title -->
    <section class="page-title centred">
      <div
        class="pattern-layer"
        style="background-image: url(assets/images/background/page-title.jpg)"
      ></div>
      <div class="auto-container">
        <div class="content-box">
          <h1>My Account</h1>
          <ul class="bread-crumb clearfix">
            <li>
              <i class="flaticon-home-1"></i><a href="index.html">Home</a>
            </li>
            <li>My Account</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- page-title end -->

    <!-- myaccount-section -->
    <section class="myaccount-section">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
            <div class="inner-box login-inner">
              <div class="upper-inner">
                <h3>Log in</h3>
                <p>Log in to access all your resources</p>
              </div>
              <form action="my-account.html" method="post" class="default-form">
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" name="email" required="" />
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" required="" />
                </div>
                <div class="form-group">
                  <div class="custom-controls-stacked">
                    <label class="custom-control material-checkbox">
                      <input type="checkbox" class="material-control-input" />
                      <span class="material-control-indicator"></span>
                      <span class="description">Remember me</span>
                    </label>
                  </div>
                  <a href="my-account.html" class="recover-password"
                    >Lost your password?</a
                  >
                </div>
                <div class="form-group">
                  <button type="submit" class="theme-btn-two">
                    Log In<i class="flaticon-right-1"></i>
                  </button>
                </div>
              </form>
              <div class="lower-inner centred">
                <span>or</span>
                <ul class="social-links clearfix">
                  <li>
                    <a href="my-account.html"
                      ><i class="fab fa-facebook-f"></i>Facebook</a
                    >
                  </li>
                  <li>
                    <a href="my-account.html"
                      ><i class="fab fa-google-plus-g"></i>Google</a
                    >
                  </li>
                </ul>
                <p>
                  Don't Have an Account?
                  <a href="my-account.html">Sign up Now</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
            <div class="inner-box signup-inner">
              <div class="upper-inner">
                <h3>Create An Account</h3>
                <p>Log in to access all your resources</p>
              </div>
              <form action="my-account.html" method="post" class="default-form">
                <div class="form-group">
                  <label>Your name</label>
                  <input type="text" name="name" required="" />
                </div>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" name="email" required="" />
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" required="" />
                </div>
                <div class="form-group">
                  <div class="custom-controls-stacked">
                    <label class="custom-control material-checkbox">
                      <input type="checkbox" class="material-control-input" />
                      <span class="material-control-indicator"></span>
                      <span class="description"
                        >I agree to terms & Policy.</span
                      >
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="theme-btn-two">
                    Sign Up<i class="flaticon-right-1"></i>
                  </button>
                </div>
              </form>
              <div class="lower-inner centred">
                <span>or</span>
                <ul class="social-links clearfix">
                  <li>
                    <a href="my-account.html"
                      ><i class="fab fa-facebook-f"></i>Facebook</a
                    >
                  </li>
                  <li>
                    <a href="my-account.html"
                      ><i class="fab fa-google-plus-g"></i>Google</a
                    >
                  </li>
                </ul>
                <p>
                  Already have an account?
                  <a href="my-account.html">Log In Now</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- myaccount-section end -->

    <%- include('footer') %>

    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.bootstrap-touchspin.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
  </body>
  <!-- End of .page_wrapper -->
</html>
