<!DOCTYPE html>
<head>

</head>
<body>
    Your Email is<h2><%= email %></h2>
    <form method="POST" action="/profile/resetForgottenPassword">

        <input type="password" name="new_password">
        <input type="password" name="confirm_password">
        <input type="submit">
        
    </form>
</body>
</html>