<html>
    <body>

    <form action="/admin/addProduct" method="POST">

        <label>Product Name</label>
        <input name="product_name"></input><br>

        <label>Price</label>
        <input  name="price"><br>   

        <label>Product Description</label>
        <textarea name="description"></textarea><br>

        <label>Category</label>
        <input  name="category"></input><br>
        
        <label>Sub Category</label>
        <input  name="sub_category"></input><br>

        <lable>Is Deleted(enter 'true' or 'false')</lable>
        <input  name="is_deleted"><br>
        <input type="submit">
    </form>
    </body>
</html>