<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Castro - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/jquery-ui.css" rel="stylesheet">
<link href="/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <%- include('header')%>

        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Cart Page</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>Cart Page</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- cart section -->
        <section class="cart-section cart-page">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 table-column">
                        <div class="table-outer">
                            <table class="cart-table">
                                <thead class="cart-header">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="prod-column">Product Name</th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>
                                        <th class="price">Price</th>
                                    </tr>    
                                </thead>
                                <tbody>
                                    <% if(wishlist){ %>
                                        <% for(let i=0;i<wishlist.length;i++){ %>
                                            <tr>
                                                <td colspan="4" class="prod-column">
                                                    <div class="column-box">
                                                        <div class="remove-btn">
                                                            <i class="flaticon-close"></i>
                                                        </div>
                                                        <div class="prod-thumb">
                                                            <a href="#"><img src="assets/images/resource/shop/cart-1.jpg" alt=""></a>
                                                        </div>
                                                        <div class="prod-title">
                                                            <%= wishlist[i].product_name %>
                                                        </div>    
                                                    </div>
                                                </td>
                                                <td class="price">$<%= wishlist[i].price%></td>
                                            </tr>
                                        <%}%>
                                    <%}%>
                                    <!-- <tr>
                                        <td colspan="4" class="prod-column">
                                            <div class="column-box">
                                                <div class="remove-btn">
                                                    <i class="flaticon-close"></i>
                                                </div>
                                                <div class="prod-thumb">
                                                    <a href="#"><img src="assets/images/resource/shop/cart-1.jpg" alt=""></a>
                                                </div>
                                                <div class="prod-title">
                                                    Black Boys Shirt
                                                </div>    
                                            </div>
                                        </td>
                                        <td class="price">$50.00</td>
                                        <td class="qty">
                                            <div class="item-quantity">
                                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                                            </div>
                                        </td>
                                        <td class="sub-total">$50.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="prod-column">
                                            <div class="column-box">
                                                <div class="remove-btn">
                                                    <i class="flaticon-close"></i>
                                                </div>
                                                <div class="prod-thumb">
                                                    <a href="#"><img src="assets/images/resource/shop/cart-2.jpg" alt=""></a>
                                                </div>
                                                <div class="prod-title">
                                                    Girls Print Tops
                                                </div>    
                                            </div>
                                        </td>
                                        <td class="price">$50.00</td>
                                        <td class="qty">
                                            <div class="item-quantity">
                                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                                            </div>
                                        </td>
                                        <td class="sub-total">$50.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="prod-column">
                                            <div class="column-box">
                                                <div class="remove-btn">
                                                    <i class="flaticon-close"></i>
                                                </div>
                                                <div class="prod-thumb">
                                                    <a href="#"><img src="assets/images/resource/shop/cart-3.jpg" alt=""></a>
                                                </div>
                                                <div class="prod-title">
                                                    Baby Backpacks
                                                </div>    
                                            </div>
                                        </td>
                                        <td class="price">$70.00</td>
                                        <td class="qty">
                                            <div class="item-quantity">
                                                <input class="quantity-spinner" type="text" value="1" name="quantity">
                                            </div>
                                        </td>
                                        <td class="sub-total">$70.00</td>
                                    </tr> -->
                                </tbody>    
                            </table>
                        </div>
                    </div>
                </div>                
            </div>
        </section>
        <!-- cart section end -->

    <%- include('footer')%>


    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.bootstrap-touchspin.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
</body><!-- End of .page_wrapper -->
</html>
