/* color file */

.scroll-top {
  background: var(--naples-yellow);
}

.preloader-close {
  background: var(--naples-yellow);
}

.main-header .header-top .info li a:hover {
  color: var(--green-sheen);
}

.main-header .header-top .social-links li a:hover {
  color: var(--naples-yellow);
}

.main-header .menu-right-content li a:hover {
  color: var(--green-sheen);
}

.main-header .search-btn .search-toggler:hover {
  color: var(--dark-purple);
}

.search-popup .search-form fieldset input[type="submit"] {
  background: var(--naples-yellow);
}

.search-popup .recent-searches li a:hover {
  color: var(--naples-yellow);
  border-color: var(--naples-yellow);
}

.search-popup .close-search:hover {
  color: var(--naples-yellow);
}

.main-menu .navigation > li > a span {
  background: var(--naples-yellow);
}

.main-menu .navigation > li > a span:before {
  background: var(--naples-yellow);
}

.main-menu .navigation > li.dropdown.current > a:before,
.main-menu .navigation > li.dropdown:hover > a:before {
  color: var(--green-sheen);
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
ul.menu-right-content > li > a {
  color: var(--green-sheen);
}

.banner-carousel .content-box h1 span {
  color: var(--naples-yellow);
}

.banner-carousel .owl-nav .owl-prev:hover,
.banner-carousel .owl-nav .owl-next:hover {
  background: var(--naples-yellow);
}

.category-block-one h5 a:hover {
  color: var(--naples-yellow);
}

.category-block-one .image-box:before {
  background: var(--naples-yellow);
}

.shop-block-one .inner-box .image-box .category.green-bg {
  background: var(--pink-lavender);
}

.shop-block-one .inner-box .image-box .category.red-bg {
  background: var(--dark-purple);
}

.main-menu .navigation > li > ul > li > a:hover {
  color: var(--green-sheen);
}

.main-menu .navigation > li > .megamenu li > a:hover {
  color: var(--green-sheen);
}

.main-menu .navigation > li > ul > li > ul > li > a:hover {
  color: var(--green-sheen);
}

.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a {
  background: var(--green-sheen);
}

.shop-block-one .inner-box .image-box .category.green-bg:before {
  background: var(--pink-lavender);
}

.shop-block-one .inner-box .image-box .category.green-bg:after {
  background: var(--pink-lavender);
}

.shop-block-one .inner-box .image-box .category.red-bg:before {
  background: var(--dark-purple);
}

.shop-block-one .inner-box .image-box .category.red-bg:after {
  background: var(--dark-purple);
}

.shop-block-one .inner-box .image-box .info-list li a:hover {
  background: var(--naples-yellow) !important;
}

.shop-block-one .inner-box .lower-content a:hover {
  color: var(--naples-yellow);
}

.cta-section .cta-inner .theme-btn-one:after {
  background: var(--naples-yellow);
}

.cta-section .cta-inner .theme-btn-one:hover {
  border-color: var(--naples-yellow);
}

.news-block-one .inner-box .image-box {
  background: var(--naples-yellow);
}

.news-block-one .inner-box .lower-content h3 a:hover {
  color: var(--naples-yellow);
}

.news-block-one .inner-box .lower-content .post-info li a:hover {
  color: var(--naples-yellow);
}

.service-block-one .inner-box h3 a:hover {
  color: var(--naples-yellow);
}

.instagram-section .image-box .info-list li a:hover {
  color: var(--naples-yellow);
}

.main-footer .footer-top .links-widget .links-list li a:before {
  background: var(--naples-yellow);
}

.main-footer .footer-top .links-widget .links-list li a:hover {
  color: var(--naples-yellow);
}

.main-footer .footer-top .contact-widget .info-list li a:hover {
  color: var(--naples-yellow);
}

.footer-social li a:hover {
  color: var(--naples-yellow);
}

.myaccount-section .theme-btn-two:after,
.myaccount-section .theme-btn-three {
  background: var(--green-sheen);
}

.myaccount-section.change-password h3.title {
  color: var(--green-sheen);
}

.theme-btn-two:after {
  background: var(--yellow-shade-5);
}

.main-footer
  .footer-top
  .newsletter-widget
  .widget-content
  .newsletter-form
  .form-group
  input:focus {
  border-color: var(--naples-yellow) !important;
}

.footer-bottom .copyright a:hover {
  color: var(--naples-yellow) !important;
}

.main-header .header-upper .search-info .form-group input:focus + button,
.main-header .header-upper .search-info .form-group button:hover {
  color: var(--naples-yellow);
}

.main-header .header-lower .category-box p {
  background: var(--naples-yellow);
}

.main-header .header-lower .category-box .category-content li a:hover {
  color: var(--naples-yellow);
}

.banner-style-two .content-box h1 span {
  color: var(--naples-yellow);
}

.theme-btn-three {
  background: var(--yellow-shade-5);
}

.service-style-two .service-block-one .inner-box h3 a:hover {
  color: var(--naples-yellow);
}

.main-footer.light .footer-top .links-widget .links-list li a:hover {
  color: var(--naples-yellow);
}

.main-footer.light .footer-top .contact-widget .info-list li a:hover {
  color: var(--naples-yellow);
}

.service-style-three .service-block-one:hover {
  border-color: var(--naples-yellow);
}

.service-style-three .service-block-one:hover:before {
  border-color: var(--naples-yellow);
}

.topcategory-section-two .single-item .inner-box .content-box h3 a:hover {
  color: var(--naples-yellow);
}

.deals-section .inner-box .price span {
  color: #f35b51;
}

.shop-block-two .inner-box .lower-content a:hover {
  color: #f35b51;
}

.shop-block-two .inner-box .image-box .category.green-bg {
  background: #56cfe1;
}

.shop-block-two .inner-box .image-box .category.red-bg {
  background: #f35b51;
}

.shop-block-two .inner-box .image-box .category.green-bg:before {
  background: #56cfe1;
}

.shop-block-two .inner-box .image-box .category.green-bg:after {
  background: #56cfe1;
}

.shop-block-two .inner-box .image-box .category.red-bg:before {
  background: #f35b51;
}

.shop-block-two .inner-box .image-box .category.red-bg:after {
  background: #f35b51;
}

.shop-block-two .inner-box .image-box .info-list li a:hover {
  color: var(--naples-yellow);
}

.shop-block-two .inner-box .image-box .info-list li span {
  background: #f35b51;
}

.shop-block-two .inner-box .image-box .info-list li span:before {
  background: #f35b51;
}

.instagram-style-two .image-box .info-list li a:hover {
  color: #f35b51;
}

.collection-style-two .single-item .inner-box .lower-content .inner h3 a:hover {
  color: #f35b51;
}

.collection-style-two
  .single-item
  .inner-box
  .lower-content
  .inner
  .link
  a:hover {
  color: #f35b51;
}

.banner-carousel-3 .content-box h1 span {
  color: var(--naples-yellow);
}

.banner-style-four .banner-carousel-3 .owl-prev:hover,
.banner-style-four .banner-carousel-3 .owl-next:hover {
  background: #f35b51;
}

.banner-carousel-3 .content-inner .image-box:before {
  background: #ffdfc4;
}

.shop-sidebar .post-widget .post-inner .post .inner a:hover {
  color: var(--naples-yellow);
}

.shop-sidebar .post-widget .post-inner .post .image-box {
  background: var(--naples-yellow);
}

.main-header.style-four .header-top .info li a:hover {
  color: var(--naples-yellow);
}

.main-header.style-four
  .header-lower
  .category-box
  .category-content
  li
  a:hover:before {
  border-color: var(--naples-yellow);
  background: var(--naples-yellow);
}

.main-header.style-four
  .header-lower
  .search-info
  .search-form
  .form-group
  button {
  background: var(--naples-yellow);
}

.banner-style-three.alternet-2 .inner-box .single-item:first-child {
  background: #e3c72e;
}

.banner-style-three.alternet-2 .inner-box .single-item:last-child {
  background: #a571f8;
}

.gray-bg {
  background: #3d4875;
}

.shop-block-three .inner-box .lower-content a:hover {
  color: var(--naples-yellow);
}

.shop-block-three .inner-box .image-box .info-list li a:hover {
  color: var(--naples-yellow);
}

.shop-block-three .inner-box .image-box .info-list li span {
  background: var(--naples-yellow);
}

.shop-block-three .inner-box .image-box .info-list li span:before {
  background: var(--naples-yellow);
}

.deals-style-two .single-column:first-child .single-item .inner-box {
  background: #ff9d7f;
}

.deals-style-two .single-column:last-child .single-item .inner-box {
  background: #92a57a;
}

.shop-block-three .inner-box .image-box .category {
  background: #56cfe1;
}

.shop-block-three .inner-box .image-box .category:before {
  background: #56cfe1;
}

.shop-block-three .inner-box .image-box .category:after {
  background: #56cfe1;
}

.blue-bg {
  background: #683fdc;
}

.shop-block-four .inner-box .image-box {
  background: var(--naples-yellow);
}

.shop-block-four .inner-box .inner a:hover {
  color: var(--naples-yellow);
}

.page-title .content-box .bread-crumb li a:hover {
  color: var(--naples-yellow);
}

.about-section .text-inner h2 span {
  color: var(--naples-yellow);
}

.team-block-one .inner-box .image-box .social-links li a:hover {
  color: var(--naples-yellow);
}

.team-block-one .inner-box .lower-content h3 a:hover {
  color: var(--naples-yellow);
}

.service-block-two .inner-box .content-box h2 a:hover {
  color: var(--naples-yellow);
}

.error-section .inner-box p a {
  color: var(--naples-yellow);
  border-bottom: 1px solid var(--naples-yellow);
}

.shop-page-section .our-shop h3.category-title {
  color: var(--dark-purple);
}

.shop-page-section .item-shorting .right-column .menu-box a:first-child:hover {
  background: var(--naples-yellow);
}

.shop-page-section .item-shorting .right-column .menu-box a:last-child:hover {
  background: var(--naples-yellow);
  border-color: var(--naples-yellow);
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .list
  li
  a:hover {
  color: var(--naples-yellow);
}

.shop-page-section .item-shorting .filter-box .filter-content .close-btn {
  color: var(--naples-yellow);
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .color-list
  li
  span.blue {
  background: #409aff;
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .color-list
  li
  span.orange {
  background: var(--naples-yellow);
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .color-list
  li
  span.green {
  background: #47db90;
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .color-list
  li
  span.purple {
  background: #ac27ea;
}

.shop-page-section
  .item-shorting
  .filter-box
  .filter-content
  .single-column
  .color-list
  li
  a:hover {
  color: var(--naples-yellow);
}

.shop-page-section .item-shorting .filter-box button:hover {
  color: var(--naples-yellow);
}

.sidebar .search-widget .search-form .form-group input:focus {
  border-color: var(--naples-yellow) !important;
}

.sidebar .search-widget .search-form .form-group input:focus + button,
.sidebar .search-widget .search-form .form-group button:hover {
  color: var(--naples-yellow);
}

.sidebar .categories-widget .categories-list li a:hover {
  color: var(--naples-yellow);
}

.sidebar .categories-widget .categories-list li a:hover:before {
  background: var(--naples-yellow);
  border-color: var(--naples-yellow);
}

.sidebar .size-widget .size-list li a:hover {
  color: var(--naples-yellow);
}

.sidebar .size-widget .size-list li a:hover:before {
  background: var(--naples-yellow);
  border-color: var(--naples-yellow);
}

.sidebar .color-widget .color-list li a:hover {
  color: var(--naples-yellow);
}

.sidebar .color-widget .color-list li span.blue {
  background: #409aff;
}

.sidebar .color-widget .color-list li span.orange {
  background: var(--naples-yellow);
}

.sidebar .color-widget .color-list li span.green {
  background: #47db90;
}

.sidebar .color-widget .color-list li span.purple {
  background: #ac27ea;
}

.shop-block-five .inner-box .content-box .info-list li a:hover {
  background: var(--naples-yellow) !important;
}

.shop-block-five .inner-box .image-box {
  background: var(--naples-yellow);
}

.shop-block-five .inner-box .image-box .category {
  background: #56cfe1;
}

.shop-block-five .inner-box .image-box .category:before {
  background: #56cfe1;
}

.shop-block-five .inner-box .image-box .category:after {
  background: #56cfe1;
}

.shop-block-five .inner-box .content-box .text a:hover {
  color: #56cfe1;
}

.product-details-content .product-image a:hover {
  background: var(--green-sheen);
}

.product-details-content .product-info .rating-box li {
  color: #ff863d;
}

.product-details-content .product-info .reviews a:hover {
  color: var(--naples-yellow);
}

.product-details-content .product-info .othre-options .info li a:hover {
  background: var(--naples-yellow);
  border-color: var(--naples-yellow);
}

.product-details-content .product-info .other-links li a:hover {
  color: var(--naples-yellow);
}

.product-details-content .product-info .share-option li a:hover {
  color: var(--naples-yellow);
}

.product-details .product-discription .tabs-content .rating li {
  color: #ff8840;
}

.product-details
  .product-discription
  .tabs-content
  .replay-inner
  .review-form
  .form-group
  input:focus,
.product-details
  .product-discription
  .tabs-content
  .replay-inner
  .review-form
  .form-group
  textarea:focus {
  border: 1px solid var(--naples-yellow) !important;
}

.product-details-content
  .product-info
  .size-box
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border: 2px solid var(--naples-yellow);
  background: var(--naples-yellow);
}

.color-box .color-block.blue [type="radio"]:checked + label:before,
.color-box .color-block.blue [type="radio"]:not(:checked) + label:before {
  background: #4c86fa;
}

.color-box .color-block.brown [type="radio"]:checked + label:before,
.color-box .color-block.brown [type="radio"]:not(:checked) + label:before {
  background: #f48182;
}

.color-box .color-block.purple [type="radio"]:checked + label:before,
.color-box .color-block.purple [type="radio"]:not(:checked) + label:before {
  background: #b451f3;
}

.checkout-section .upper-box .single-box a {
  color: var(--naples-yellow);
}

.checkout-section .shipping-form .form-group input:focus {
  border-color: var(--naples-yellow) !important;
}

.checkout-section .additional-info .note-book textarea:focus {
  border-color: var(--naples-yellow) !important;
}

.checkout-section
  .payment-info
  .payment-inner
  .custom-controls-stacked
  .description
  a:hover {
  color: var(--naples-yellow);
}

.myaccount-section .inner-box .default-form .form-group input:focus {
  border-color: var(--naples-yellow) !important;
}

.myaccount-section .nav.nav-tabs .nav-link {
  color: var(--black-coral);
}

.myaccount-section .nav.nav-tabs .nav-link:hover,
.myaccount-section .nav.nav-tabs .nav-link.active {
  color: var(--dark-purple);
}

.myaccount-section .nav.nav-tabs .nav-link::after {
  background-color: var(--naples-yellow);
}

.myaccount-section .inner-box .default-form .form-group input {
  color: var(--gray);
}

.myaccount-section .inner-box .default-form .form-group .recover-password {
  color: var(--naples-yellow);
  border-bottom: 1px solid #ff8880;
}

.myaccount-section .order-card .order-item .item-name {
  color: #222;
}

.myaccount-section .order-card .order-item .order-item-status span.delivered {
  background-color: var(--green);
}

.myaccount-section .order-card .order-item .order-item-status span.shipping {
  background-color: var(--orange);
}

.myaccount-section .inner-box .lower-inner .social-links li:first-child a {
  background: #3b5998;
}

.myaccount-section .inner-box .lower-inner .social-links li:last-child a {
  background: #dd4b39;
}

.myaccount-section .inner-box .lower-inner .social-links li a:hover {
  background: var(--naples-yellow) !important;
}

.myaccount-section .inner-box .lower-inner p a:hover {
  color: var(--naples-yellow);
}

.myaccount-section .change-password a {
  color: var(--green-sheen);
}

.myaccount-section .form-group input:focus {
  box-shadow: 0 0 0 0.2rem var(--green-sheen-25);
}

.news-block-one .inner-box .lower-content h2 a:hover {
  color: var(--naples-yellow);
}

.blog-sidebar .post-widget .post-inner .post .post-thumb {
  background: var(--naples-yellow);
}

.blog-sidebar .post-widget .post-inner .post h4 a:hover {
  color: var(--naples-yellow);
}

.blog-sidebar .archives-widget .archives-list li a:hover {
  color: var(--naples-yellow);
}

.blog-sidebar .archives-widget .archives-list li a:hover:before {
  border-color: var(--naples-yellow);
  background: var(--naples-yellow);
}

.blog-sidebar .instagram-widget .image-list li .image-box {
  background: var(--naples-yellow);
}

.blog-details-content .inner-box .post-info li a:hover {
  color: var(--naples-yellow);
}

.blog-details-content .comments-form-area .comment-form .form-group input:focus,
.blog-details-content
  .comments-form-area
  .comment-form
  .form-group
  textarea:focus {
  border-color: var(--naples-yellow) !important;
}

.address-section .single-adderss-block .inner-box .info-list li a:hover {
  color: var(--naples-yellow);
}

.mobile-menu .contact-info ul li a:hover {
  color: var(--naples-yellow);
}

.mobile-menu .social-links li a:hover {
  color: var(--naples-yellow);
}

.mobile-menu .menu-backdrop {
  background: var(--naples-yellow);
}
